/* Active Effect to Link in this page */
.navbar__links a:first-child {
  color: #000000;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar__links a:nth-child(1)::after {
  content: "";
  height: 2px;
  width: 120%;
  position: absolute;
  background-color: #000;
  bottom: 0;
  left: -4px;
}
